- const title = "Test de afinidad | Mi derecho, mi voto"
- const description = `Descubre los candidatos presidenciales que mejor te representan con este test de afinidad. Parte del proyecto "Mi derecho, mi voto", de Global Shapers Santo Domingo.`

doctype html
html
  head
    title= title
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
    //- Facebook Open Graph Meta Data
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content="/images/social.jpg")

    //- Twitter Meta Data
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@globalshaperssd")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content="/images/social.jpg")
    link(
      rel='apple-touch-icon'
      sizes='180x180'
      href='/images/apple-touch-icon.png'
    )
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')

    block styles
  body
    block content
    block scripts
