extends layout

block styles
  link(
    rel='stylesheet'
    type='text/css'
    href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css'
  )
  link(
    rel='stylesheet'
    type='text/css'
    href='/css/styles.css'
  )

block content
  main.ui.container
    h1#title.ui.center.aligned.header Tus 
      span.highlight-yellow resultados
    include table.pug
    include about.pug
  footer.ui.container.center.aligned
    include share.pug
    a#mimi-button.huge.ui.button(
      href='https://www.mimi.do/candidatos-presidenciales'
      target='_blank'
    ) Infórmate sobre las propuestas de estos candidatos


block scripts
  script(
    src='https://code.jquery.com/jquery-3.1.1.min.js'
    integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8='
    crossorigin='anonymous'
  )
  script(
    src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js'
  )
  script(src='/js/html2pdf.bundle.min.js')
  script(src='/js/index.js')
  script(src='/js/share.js')
  script(async defer src='https://connect.facebook.net/en_US/sdk.js')
